@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.screen-div {
  background: #eeeeee;
  margin: 10px;
  padding-top: 25px;
  padding-bottom: 125px;
}

.match-div {
  padding: 0%;
  margin: 0%;
}

.button-size {
  width: 200px;
  margin-right: 5px;
  margin-top: 10px;
}

.button-match {
  width: 100%;
  margin-top: 10px;
  background-color: #b73225;
  color: white;
}

.pad-left-script {
  padding: 1em;
}
