@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.button-size {
  width: 200px;
  padding: 5px;
  margin: 5px;
}

.button-size-match {
  width: 360px;
  padding: 5px;
  margin: 5px;
}
